* {
    font-size: 16px;
    box-sizing: border-box;
}

body { 
    background-color: aquamarine;
}


.text-fly{
    color: black !important;
}

#header {
    background-color: rgb(111, 111, 192);
    margin-bottom: 10px;
    
}

#header a {
    color: blanchedalmond;
}



#header img {
    width: 90px;
}

#nav{
    color: rgb(240, 248, 255);
    text-decoration: none;
}

#main img {
    max-height: 75vh;
    width: 100%;
    object-fit: cover;
}

#pilotos {
    margin-top: 10px;
    margin-bottom: 10px;
}

#pilotos img {
    border-radius: 5px;
    max-height: 70%;
    
}

#lugares{
    
    background-color: #2262a3;
    color: white;
    padding-bottom: 5px;
    text-align: justify;         
    
}

#lugares img { 
    width: 30%;    
    
}
.columna1 {
    
    width: 400px;
    padding: 0px 30px;
}

.top1 {
    margin-top: 4%;
}

.clean {
    clear: both;
}


#footer {
    background-color: #03091e!important; 
    padding: 10px;
    margin-top: 15px;
    
}

#footer a {
    color: white;
    text-decoration: none;
}